<h1 style="color:#104680"> Pandas package </h1>
Using dataset about border crossing entry in USA

In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.2.3'

#### Read data from xlsx file

In [3]:
df = pd.read_excel("/Users/ahmad/PyCharmMiscProject/rfi-internship-projects/Task_2/Border_Crossing_Entry_Data.xlsx")

<h3 style="color:#2264AB"> Data ( Selection , Filtering , Cleaning ,Preparation )</h3>

#### Data Brif
- col and row count
- type of col
- number of value not null in col
- memory used

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400148 entries, 0 to 400147
Data columns (total 10 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Port Name  400148 non-null  object
 1   State      400148 non-null  object
 2   Port Code  400148 non-null  int64
 3   Border     400148 non-null  object
 4   Date       400148 non-null  datetime64[ns]
 5   Measure    400148 non-null  object
 6   Value      399243 non-null  float64
 7   Latitude   400148 non-null  float64
 8   Longitude  400148 non-null  float64
 9   Point      399798 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(1), object(5)
memory usage: 30.5+ MB

#### Description Dataframe
used to generate descriptive statistic for numeric or textual

In [10]:
df.describe()

,Port Code,Date,Value,Latitude,Longitude
count,400148.000000,400148,3.992430e+05,400148.000000,400148.000000
mean,2445.887954,2022-05-05 15:37:15.097014528,2.894774e+04,43.966161,-99.717704
min,101.000000,2019-05-07 00:00:00,0.000000e+00,25.952000,-141.001000
25%,2304.000000,2020-11-05 00:00:00,0.000000e+00,42.999000,-114.728000
50%,3012.000000,2022-05-05 00:00:00,1.470000e+02,48.122000,-101.628000
75%,3401.000000,2023-11-03 00:00:00,3.028000e+03,49.000000,-84.361000
max,3814.000000,2025-05-05 00:00:00,4.447374e+06,62.615000,-66.980000
std,1204.307779,NaN,1.495258e+05,8.152836,18.258529

#### Description Dataframe
That is textual descriptive

In [11]:
df.describe(include='object')

,Port Name,State,Border,Measure,Point
count,400148,400148,400148,400148,399798
unique,116,14,2,12,116
top,Eastport,North Dakota,US-Canada Border,Personal Vehicles,POINT (-115.388018 32.673389)
freq,6755,64464,305723,37901,7433

#### Tail Function
return last 5 row in dataset as default , you can determine number of row you want like df.tail(n)

In [12]:
df.tail()

,Port Name,State,Port Code,Border,Date,Measure,Value,Latitude,Longitude,Point
400143,Otay Mesa,California,2506,US-Mexico Border,2020-05-19,Personal Vehicle Passengers,872300.0,32.550,-116.939,POINT (-116.938538 32.55033)
400144,Maida,North Dakota,3416,US-Canada Border,2024-03-28,Trucks,84.0,49.000,-98.365,POINT (-98.36525 49.00025)
400145,Walhalla,North Dakota,3407,US-Canada Border,2019-12-07,Personal Vehicle Passengers,2891.0,49.000,-97.908,POINT (-97.908416 49.000472)
400146,Fort Kent,Maine,110,US-Canada Border,2021-06-16,Personal Vehicles,5068.0,47.249,-68.604,POINT (-68.603918 47.249206)
400147,Calexico East,California,2507,US-Mexico Border,2025-03-18,Rail Containers Empty,1060.0,32.673,-115.388,POINT (-115.388018 32.673389)

#### Head Function
return first 5 row in dataset at default , you can determine number of row you want like df.head(n)

In [4]:
df.head()

,Port Name,State,Port Code,Border,Date,Measure,Value,Latitude,Longitude,Point
0,Jackman,Maine,104,US-Canada Border,2019-09-12,Trucks,6556.0,45.806,-70.397,POINT (-70.396722 45.805661)
1,Porthill,Idaho,3308,US-Canada Border,2023-08-23,Trucks,98.0,49.000,-116.499,POINT (-116.49925 48.999861)
2,San Luis,Arizona,2608,US-Mexico Border,2019-12-23,Buses,10.0,32.485,-114.782,POINT (-114.7822222 32.485)
3,Willow Creek,Montana,3325,US-Canada Border,2025-01-09,Pedestrians,2.0,49.000,-109.731,POINT (-109.731333 48.999972)
4,Warroad,Minnesota,3423,US-Canada Border,2022-10-02,Personal Vehicle Passengers,NaN,48.999,-95.377,POINT (-95.376555 48.999)

#### Shape function
used to know how much size of dataframe number of col and row

In [14]:
df.shape

(400148, 10)

In [15]:
len(df) # Just return number of row

400148

In [16]:
df.shape[0]  # number of rows

400148

In [17]:
df.shape[1]  # number of col

10

In [18]:
df.size # number of cells in data frame ( col * row )

4001480

In [19]:
df.ndim # number of dimensions

2

In [20]:
df['Port Name'] # Select a column

0               Jackman
1              Porthill
2              San Luis
3          Willow Creek
4               Warroad
              ...
400143        Otay Mesa
400144            Maida
400145         Walhalla
400146        Fort Kent
400147    Calexico East
Name: Port Name, Length: 400148, dtype: object

In [21]:
df[['Port Name','Date']] # Select multi columns

            Port Name       Date
0             Jackman 2022-02-14
1            Porthill 2019-08-07
2            San Luis 2021-12-09
3        Willow Creek 2019-06-05
4             Warroad 2019-11-04
...               ...        ...
400143      Otay Mesa 2020-05-19
400144          Maida 2024-03-28
400145       Walhalla 2019-12-07
400146      Fort Kent 2021-06-16
400147  Calexico East 2025-03-18

[400148 rows x 2 columns]

#### Unification of the Format of Date

In [32]:
df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d')

In [30]:
df.head()

,Port Name,State,Port Code,Border,Date,Measure,Value,Latitude,Longitude,Point
0,Jackman,Maine,104,US-Canada Border,2022-02-14,Trucks,6556.0,45.806,-70.397,POINT (-70.396722 45.805661)
1,Porthill,Idaho,3308,US-Canada Border,2019-08-07,Trucks,98.0,49.000,-116.499,POINT (-116.49925 48.999861)
2,San Luis,Arizona,2608,US-Mexico Border,2021-12-09,Buses,10.0,32.485,-114.782,POINT (-114.7822222 32.485)
3,Willow Creek,Montana,3325,US-Canada Border,2019-06-05,Pedestrians,2.0,49.000,-109.731,POINT (-109.731333 48.999972)
367,Naco,Arizona,2603,US-Mexico Border,2023-02-14,Pedestrians,6461.0,31.334,-109.948,POINT (-109.948413 31.334084)

In [19]:
print(df['Date'])

0        2024-06-14
1        2020-09-13
2        2020-11-26
3        2024-03-29
4        2023-09-26
            ...
400143   2024-08-28
400144   2024-12-20
400145   2019-09-20
400146   2022-11-19
400147   2020-03-22
Name: Date, Length: 400148, dtype: datetime64[ns]

In [23]:
temp = df.dropna(how='all')

In [24]:
temp.shape

(400148, 10)

In [25]:
df.dropna(inplace=True)

### Duplicated row
drop duplicated row

In [26]:
df.drop_duplicates(inplace = True)

In [32]:
print(df.duplicated())

0         False
1         False
2         False
3         False
4         False
          ...
400143    False
400144    False
400145    False
400146    False
400147    False
Length: 394505, dtype: bool

In [27]:
pd.Series(df['Date'])

0        2022-02-14
1        2019-08-07
2        2021-12-09
3        2019-06-05
367      2023-02-14
            ...
400143   2020-05-19
400144   2024-03-28
400145   2019-12-07
400146   2021-06-16
400147   2025-03-18
Name: Date, Length: 393561, dtype: datetime64[ns]

In [36]:
df.dropna(inplace=True)

<h1 style="color:#2264AB"> Data Aggregation and Grouping </h1>

Group data depend on key and enable aggregation

In [3]:
df.groupby('Date').count()

,Port Name,State,Port Code,Border,Measure,Value,Latitude,Longitude,Point
Date,,,,,,,,,
2019-05-07,176,176,176,176,176,176,176,176,176
2019-05-08,193,193,193,193,193,193,193,193,193
2019-05-09,193,193,193,193,193,192,193,193,193
2019-05-10,169,169,169,169,169,169,169,169,169
2019-05-11,197,197,197,197,197,196,197,197,196
...,...,...,...,...,...,...,...,...,...
2025-05-01,177,177,177,177,177,177,177,177,177
2025-05-02,179,179,179,179,179,179,179,179,179
2025-05-03,201,201,201,201,201,200,201,201,201
2025-05-04,187,187,187,187,187,187,187,187,187
2025-05-05,165,165,165,165,165,165,165,165,165

In [11]:
df.groupby('Value').max()

,Port Name,State,Port Code,Border,Date,Measure,Latitude,Longitude,Point
Value,,,,,,,,,
0.0,Willow Creek,Washington,3803,US-Mexico Border,2025-05-05,Trucks,62.615,-66.980,POINT (-99.659111 48.999277)
1.0,Ysleta,Washington,3803,US-Mexico Border,2025-05-03,Trucks,62.615,-66.980,POINT (-99.659111 48.999277)
2.0,Willow Creek,Washington,3803,US-Mexico Border,2025-05-04,Trucks,62.615,-66.980,POINT (-99.659111 48.999277)
3.0,Willow Creek,Washington,3801,US-Mexico Border,2025-05-05,Trucks,62.615,-66.980,POINT (-99.659111 48.999277)
4.0,Ysleta,Washington,3803,US-Mexico Border,2025-05-05,Trucks,62.615,-66.980,POINT (-99.659111 48.999277)
...,...,...,...,...,...,...,...,...,...
4235244.0,El Paso,Texas,2402,US-Mexico Border,2023-11-13,Personal Vehicle Passengers,31.764,-106.451,POINT (-106.451188 31.764363)
4252128.0,El Paso,Texas,2402,US-Mexico Border,2019-08-25,Personal Vehicle Passengers,31.764,-106.451,POINT (-106.451188 31.764363)
4281175.0,El Paso,Texas,2402,US-Mexico Border,2025-04-05,Personal Vehicle Passengers,31.764,-106.451,POINT (-106.451188 31.764363)
4291774.0,El Paso,Texas,2402,US-Mexico Border,2019-09-17,Personal Vehicle Passengers,31.764,-106.451,POINT (-106.451188 31.764363)
4447374.0,El Paso,Texas,2402,US-Mexico Border,2021-06-24,Personal Vehicle Passengers,31.764,-106.451,POINT (-106.451188 31.764363)

In [15]:
df.sort_values(by='Date', ascending=True)

,Port Name,State,Port Code,Border,Date,Measure,Value,Latitude,Longitude,Point
49791,Beecher Falls,Vermont,206,US-Canada Border,2019-05-07,Truck Containers Loaded,328.0,45.013,-71.505,POINT (-71.505309 45.013411)
100966,Portal,North Dakota,3403,US-Canada Border,2019-05-07,Trains,146.0,48.999,-102.552,POINT (-102.551944 48.998944)
120469,Naco,Arizona,2603,US-Mexico Border,2019-05-07,Train Passengers,0.0,31.334,-109.948,POINT (-109.948413 31.334084)
265814,Noonan,North Dakota,3420,US-Canada Border,2019-05-07,Trucks,159.0,48.999,-103.004,POINT (-103.004361 48.999333)
340745,Detroit,Michigan,3801,US-Canada Border,2019-05-07,Rail Containers Loaded,17288.0,42.332,-83.048,POINT (-83.047924 42.331685)
...,...,...,...,...,...,...,...,...,...,...
27743,Derby Line,Vermont,209,US-Canada Border,2025-05-05,Personal Vehicles,2710.0,45.006,-72.099,POINT (-72.099279 45.005739)
109998,Alexandria Bay,New York,708,US-Canada Border,2025-05-05,Buses,58.0,44.347,-75.984,POINT (-75.983592 44.347229)
221824,Hidalgo,Texas,2305,US-Mexico Border,2025-05-05,Pedestrians,138357.0,26.095,-98.271,POINT (-98.271092 26.095032)
359110,Roseau,Minnesota,3426,US-Canada Border,2025-05-05,Buses,4.0,49.000,-95.766,POINT (-95.766469 48.999538)
321602,Bridgewater,Maine,127,US-Canada Border,2025-05-05,Bus Passengers,58.0,46.450,-67.785,POINT (-67.78484 46.450335)

In [20]:
df.sort_values(by='Value', ascending=True)

,Port Name,State,Port Code,Border,Date,Measure,Value,Latitude,Longitude,Point
133109,Limestone,Maine,118,US-Canada Border,2021-10-19,Rail Containers Empty,0.0,46.925,-67.790,POINT (-67.789597 46.924555)
316511,Douglas,Arizona,2601,US-Mexico Border,2024-03-10,Rail Containers Empty,0.0,31.334,-109.560,POINT (-109.560344 31.334043)
149724,Calexico,California,2503,US-Mexico Border,2019-05-21,Rail Containers Loaded,0.0,32.673,-115.388,POINT (-115.388018 32.673389)
149727,Hansboro,North Dakota,3415,US-Canada Border,2020-01-14,Trains,0.0,49.000,-99.347,POINT (-99.346527 48.999583)
149728,Maida,North Dakota,3416,US-Canada Border,2020-04-22,Trains,0.0,49.000,-98.365,POINT (-98.36525 49.00025)
...,...,...,...,...,...,...,...,...,...,...
327342,El Paso,Texas,2402,US-Mexico Border,2023-11-13,Personal Vehicle Passengers,4235244.0,31.764,-106.451,POINT (-106.451188 31.764363)
313943,El Paso,Texas,2402,US-Mexico Border,2019-08-25,Personal Vehicle Passengers,4252128.0,31.764,-106.451,POINT (-106.451188 31.764363)
319032,El Paso,Texas,2402,US-Mexico Border,2025-04-05,Personal Vehicle Passengers,4281175.0,31.764,-106.451,POINT (-106.451188 31.764363)
309297,El Paso,Texas,2402,US-Mexico Border,2019-09-17,Personal Vehicle Passengers,4291774.0,31.764,-106.451,POINT (-106.451188 31.764363)
306098,El Paso,Texas,2402,US-Mexico Border,2021-06-24,Personal Vehicle Passengers,4447374.0,31.764,-106.451,POINT (-106.451188 31.764363)

In [33]:
import matplotlib.pyplot as plt

In [34]:
df.plot()

plt.show()

ValueError: Date ordinal 4669749.75005 converts to 14755-05-05T18:00:04.320000 (using epoch 1970-01-01T00:00:00), but Matplotlib dates must be between year 0001 and 9999.